<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>TODO LIST</h1>
        <a href="/new" class="new-button">+ 新規作成</a> 
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span>TODO</span>
        </div>
        
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <div class="item-data">
                
                <form action="/done/<%= item.id %>" method="post" >
                <input type="hidden" name="itemDone" value="<%= item.done %>"> 
                <input type="checkbox" class="checkbox" onchange="submit()">

                </form>

                
                <form action="/update/<%= item.id %>" method="post">
                  <% if(item.done == 0){ %>
                    <input type="text" name="itemName" value="<%= item.name %>" onchange="submit()">
                 
                  <% }else{ %>
                    <span class="done-task"><%= item.name %></span> 
                    
               <% } %>
                </form>
              </div>
              
              <div class="item-important">
                
                <form action="/important/<%= item.id %>" method="post" >
                <input type="hidden" name="itemImportant" value="<%= item.important %>"> 
                <i class="material-icons-outlined" onchange="submit()">grade</i>

                </form>

                
                <form action="/imprtantUpdate/<%= item.id %>" method="post">
                  <% if(item.important == 0){ %>
                    <i class="material-icons-outlined" 　onchange="submit()">grade</i>

                 
                  <% }else{ %>
                    <span class="important-task">
                      <i class="material-icons-outlined">grade</i>
                    </span> 
                    
               <% } %>
                </form>
              </div>

              <div class="item-menu">
                <form action="/delete/<%= item.id %>" method="post">
                  <input type="submit" value="削除">
                </form>
                
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>